* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

canvas {
    width: 100%;
}

#app {
    height: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.card {
    width: 100%;
    padding: 1rem;
}